@page "/public"
@using razor_pages.Misc
@model PublicTimelineModel
@{
    ViewData["Title"] = "Public Timeline";
    Layout = "Shared/_Layout";
}

<div>
    <header>
        <h2> Public Timeline </h2> 
    </header>

    <ul class="messages">
        @if (Model.Messages.Any())
        {
            @foreach (var message in Model.Messages)
            {
                <li><img src="@Helpers.GenerateGravatarUrl(message.author.email)"/>
                    <strong><a href="/@message.author.name"> @message.author.name </a></strong>
                    @message.text
                    <small>&mdash; @message.pub_date.ToString("yyyy-MM-dd @ HH:mm") </small>
                </li>
            }
        }
        else
        {
            <li><em>There's no message so far.</em></li>
        }
    </ul>
</div>