@page "/Register"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@if (!string.IsNullOrEmpty(Model.Error))
{
    <div class="error"><strong>Error:</strong> @Model.Error</div>
}

<form method="post">
    <dl>
        <dt>Username:
        <dd><input type="text" asp-for="Username" size="30" />
        <dt>E-Mail:
        <dd><input type="text" asp-for="Email" size="30" />
        <dt>Password:
        <dd><input type="password" asp-for="Password" size="30" />
        <dt>Confirm Password:
        <dd><input type="password" asp-for="Password2" size="30" />
            <div class="actions"><input type="submit" value="Sign Up"/></div>
    </dl>
</form>