@page "/public"
@model TimelineModel
@{
    ViewData["Title"] = "Timeline";
    Layout = "Shared/_Layout";
}

<div>
    <header>
        <h2> Public Timeline </h2> 
    </header>
    
    <ul class="messages">
        <li></li>
        <em>There's no message so far.</em>
    </ul>
    
</div>