@page "/Public/{user}"
@model UserTimelineModel
@{
    ViewData["Title"] = "Timeline";
    Layout = "Shared/_Layout";
}
<form method="post">
    <div>
        <header>
            <h2> @(Model.Username)'s Timeline </h2> 
        </header>
        <div class="followstatus">
            @if (Model.Username == User.Identity.Name)
            {
                <p>This is you!</p>
            }
            else if (Model.Followed)
            {
                <div>
                    
                    <p>You are currently following this user.</p>
                    <div class="actions"><input type="submit" value="Unfollow user"/></div>
                </div>
                
            }
            else
            {
                <div>
                    
                    <p>You are not yet following this user.</p>
                    <div class="actions"><input type="submit" value="Follow user"/></div>
                </div>
                
            }
        </div>
        <ul class="messages">
            @if (Model.Messages.Any())
            {
                @foreach (var message in Model.Messages)
                {
                    <li>
                        <strong> @message.author.name </strong>
                        @message.text
                        <small>&mdash; @message.pub_date </small>
                    </li>
                }
            }
            else
            {
                <li><em>There's no messages so far.</em></li>
            }
        </ul>
    </div>
</form>